/* Headers CSS */


.contactheader {
    background-color: teal;
}

.indexheader {
    background-image: url(Earth.jpg); 
    background-size: cover;
}

.portfolioheader {
    background-color: darkslateblue;
}



/* Images CSS */


.mypic {
    display: block;
    max-width: 90%;
    height: auto;
    border: 2px solid black
}

/* Forms And Letters CSS */


.display-4 {
    color:whitesmoke;
}

form {
    margin: 10px
}


/* Footer CSS */


.jumbotron-fluid {
    margin:0;
    height: 50px;
}

.footerjumbo {
    background-color: #212529;
    margin-bottom: 0;

    
}
.footerp {
    text-align: center;
    color: white;
}

/* Footer CSS */


/* Social Media Links CSS */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/* Social Media Links CSS */

