body {
    background-color:white;
}

img {
    display: block;
    max-width: 70%;
    height: auto;
    border: 2px solid black
  }

form {
    
    margin: 10px
    }

.footerjumbo {
    background-color: #212529;
    margin-bottom: 0;
    
}
.footerp {
    color: white;
}


