



Header  {
    text-align: left;
    font-family: 'Squada One', cursive;
    font-size: 50px;
    color:white;
    background-color: lightcoral;
    margin: 1px;
    border-bottom: black 1px solid;
    padding-left: 15px;

    
}

body {
    background-image: url(WhiteBackground.jpg);
}